*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-for-select {
  min-width: 500px;
  min-height: 600px;
  padding: 50px;
  background-color: #008368;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.label-user-select {
  display: flex;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  height: 30px;
  width: auto;
}

.user-select-list {
  display: flex;
  align-items: center;
  height: 30px;
  width: auto;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  background-color: #008368;
}

.container-for-answer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  background-color: #008368;
}

.input-text {
  height: 30px;
  width: auto;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  background-color: #008368;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
}

.checkbox {
  margin: 0;
  height: 40px;
  width: 40px;
}

.agree-label {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
  height: 30px;
  width: auto;
}

.aria-live-div {
  margin-top: 100px;
}